dataDir={{ zookeeper_data_dir }}
clientPort={{ zk_client_port }}
maxClientCnxns={{ max_client_connection }}
admin.enableServer=false
tickTime={{ tick_time }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}
4lw.commands.whitelist=*

{% for host in groups.zookeeper %}
server.{{ hostvars[host].zookeeper_id }}={{ hostvars[host].ipv4_address|default(hostvars[host]['ansible_default_ipv4']['address']) }}:2888:3888
{% endfor %}

